@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

header
{
    font-family: Rubik;
    color: blue;
    opacity: 1;
    transition: 0.3s;
    text-align: center;
    padding: 250px;
    
}

h1
{
    font-size: 100px;
}

#gradev
{
    
    font-size: 30px;
    margin-bottom: 500px;
    margin-left: 20px
    
}

#gradev a
{
    text-decoration: none;
    
}

#graph
{
    
    color: #2ecc71;
    transition: 0.2s;
}

#graph:hover
{
    color: #57df90;
    font-size: 40px;
}

#dev
{
    color: darkorange;
    transition: 0.2s;

}

#dev:hover
{
    color: rgb(255, 174, 74);
    font-size: 40px;
}