@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@media (min-width: 1024px) {



    header
    {
    color: #0062ff;
    opacity: 1;
    transition: 0.3s;
    text-align: center;
    padding: 250px;
    
    
    }

    .everything
    {
    
        font-family: Rubik, Arial, 'Segoe UI';
        min-width: 500px;
        min-height: 500px;
        max-width: 1920px;
        max-height: 1080px;
    
    }

    h1
    {
        font-size: 100px;
    }

    .separation
    {
        display: flex;
        margin-left: 23%;
        height: 5px;
        width: 1000px;
        background: rgb(95, 95, 255);
        border-radius: 50px;
    }


    #gradev
    {
    
        font-size: 30px;  
    }

    #gradev a
    {
        text-decoration: none;  
    }

    #graph
    {
    
        color: #2ecc71;
        transition: 0.2s;
    }

    #graph:hover
    {
        color: #57df90;
        font-size: 40px;
    }

    #dev
    {
        color: darkorange;
        transition: 0.2s;

    }

    #dev:hover
    {
        color: rgb(255, 174, 74);
        font-size: 40px;
    }


    .section
    {
        color: #0062ff;
        font-size: 50px;
        text-align: center;
        padding-top: 100px;
    }

    .about
    {
        margin-left: 70px;
        margin-right: 70px;
        text-align: center;
        text-justify: auto;
        color: #0062ff;
        opacity: 0.8;
        overflow-wrap: break-word;
    }

    .containerimg 
    {
    
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: 540px;
        padding-top: 50px;
    
        height: 300px;
        width: 250px;
    
    
    }

    #img
    {
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        transition: 0.2s;
    }

    #img:hover
    {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
        transition: 0.2s;
    }


    .containerimgdev
    {
    
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: 540px;
        padding-top: 50px;
        /*padding-bottom: 10%;*/
    
        height: 300px;
        width: 250px;
    }

    #imgdev
    {
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        transition: 0.2s;
    }

    #imgdev:hover
    {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
        transition: 0.2s;
    }

    #textdev
    {
        text-align: center;   
        padding-top: 20px;
        
    }

    #mcpy
    {
        padding-left: 180px;
        padding-right: 180px;
    }

    .developpement
    {
        margin-left: 70px;
        margin-right: 70px;
        padding-bottom: 200px;
        text-align: center;
        text-justify: auto;
        color: #0062ff;
        opacity: 0.8;
        overflow-wrap: break-word;
    }




    #illus
    {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 20px;
    }


    footer
    {
        background-color: rgb(248, 248, 248);
        text-align: center;
        opacity: 0.4;
        padding-bottom: 10px;
    
    }

    #viewmore
    {
        color: #0062ff;
        height: 100px;
        width: 100px;
        margin-left: 47%;
        text-decoration: none;
    }
}


@media (max-width: 1024px) {



    header
    {
    color: blue;
    opacity: 1;
    transition: 0.3s;
    text-align: center;
    padding: 250px;
    
    
    }

    .everything
    {
    
        font-family: Rubik, Arial, 'Segoe UI';
        min-width: 500px;
        min-height: 500px;
        max-width: 1920px;
        max-height: 1080px;
    
    }

    h1
    {
        font-size: 50px;
        text-align: center
    }

    .separation
    {
        display: flex;
        margin-left: 25%;
        margin-right: 25%;
        height: 5px;
        width: auto;
        background: rgb(95, 95, 255);
        border-radius: 50px;
    }


    #gradev
    {
    
        font-size: 20px;  
    }

    #gradev a
    {
        text-decoration: none;  
    }

    #graph
    {
    
        color: #2ecc71;
        transition: 0.2s;
    }

    #graph:hover
    {
        color: #57df90;
        font-size: 40px;
    }

    #dev
    {
        color: darkorange;
        transition: 0.2s;

    }

    #dev:hover
    {
        color: rgb(255, 174, 74);
        font-size: 40px;
    }


    .section
    {
        color: blue;
        font-size: 50px;
        text-align: center;
        padding-top: 100px;
    }

    .about
    {
        margin-left: 25%;
        margin-right: 25%;
        
        text-align: center;
        text-justify: auto;
        color: blue;
        opacity: 0.8;
        overflow-wrap: break-word;
    }

    .containerimg 
    {
    
        display: flex;
        justify-content: space-between;
        align-content: center;
        
        margin-left: 20%;
        margin-right: 20%; 
        padding-top: 50px;
    
        height: 150px;
        width: 125px;
    
    
    }

    #img
    {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        transition: 0.2s;
    }

    #img:hover
    {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
        transition: 0.2s;
    }

    .containerimgdev
    {
    
        display: flex;
        justify-content: space-between;
        align-content: center;
        
        margin-left: 20%;
        margin-right: 20%; 
        padding-top: 50px;
    
        height: 150px;
        width: 125px;
    }

    #imgdev
    {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        transition: 0.2s;
    }

    #imgdev:hover
    {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
        transition: 0.2s;
    }

    #textdev
    {
        text-align: center;   
        padding-top: 10px;
        padding-right: 8%;
        
    }

    #mcpy
    {
        padding-left: 12%;
        padding-right: 12%;
    }

    .developpement
    {
        margin-left: 25%;
        margin-right: 25%;
        
        text-align: center;
        text-justify: auto;
        color: blue;
        opacity: 0.8;
        overflow-wrap: break-word;
    }

    




    #illus
    {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-right: 3px;

        font-size: 10px;
    }

    li{
        padding-right: 5%;
        margin-left: 15%;
    }


    footer
    {
        background-color: rgb(248, 248, 248);
        text-align: center;
        opacity: 0.4;
        padding-bottom: 10px;
    
    }

    #viewmore
    {
        color: blue;
        height: 100px;
        width: 100px;
        margin-left: 47%;
        text-decoration: none;
    }
}
